/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh; 
}

.left-section {
    flex: 6; 
    background-size: cover; 
    background-position: center;
}

.left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.right-section {
    flex: 4; 
    background-color: #5C9677; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.todo-background {
    background-color: #e7f2e9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    width: 80%;
    align-self: center;
    height: 700px; /* 원하는 높이로 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 크기 설정 */
    overflow-y: auto; /* 내용이 많을 경우 스크롤 가능하게 설정 */
    align-items: center;
}

.category-search {
    display: flex;
    justify-content: flex-end; /* 요소들을 왼쪽으로 정렬 */
    width: 100%;
    max-width: 600px; /* 원하는 너비로 설정 */
    margin-bottom: 20px;
}

.category-search button {
    background-color: #d1b593;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.category-search input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 700px;
    height: 50px;
    padding-top: 20px; 
    align-items: center;
}

.completed-tasks, .pending-tasks {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
    color: black;
}

.completed-tasks {
    background-color: #f5d3a8;
    margin-right: 10px;
}

.pending-tasks {
    background-color: #d1b593;
    margin-right: 0;
}

.footer div span {
    display: block;
    font-size: 40px; 
    margin-bottom: 10px;
}

.footer div small {
    display: block;
    font-size: 12px; 
}
