/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh; 
}

.left-section {
    position: relative;
    flex: 6; 
    background-size: cover; 
    background-position: center;
}

.left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.calendar-btn {
    position: absolute;
    width: 50px;
    top: 15px;
    left: 12px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
}

.overlay.visible {
    display: block;
}

.calendar-box {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;  
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.calendar-box img {
    width: 60%;
    height: 60%;
}
.right-section {
    flex: 4; 
    background-color: #5E9AC4; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.todo-background {
    background-color: #5691A8;
    border: 1px solid rgba(0, 0, 0, 0.1); /* 약간의 테두리 추가 */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px; 
    align-self: center;
    height: 700px; 
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
}

.todo-input-container {
    display: flex;
    flex-direction: column; /* 가로로 쌓이도록 변경 */
    align-items: center; /* 수직 중앙 정렬 */
    background-color: #B3E7E8;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.date-input-container {
    align-self: start;
    width: 50%; 
    margin-bottom: 5px; 
}

.input-with-button {
    display: flex;
    align-items: center; 
    width: 100%;
}

#date-input {
    cursor: pointer;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    border: none;
    width: 50%;
    font-size: 16px;
    margin-bottom: 10px;
}

#todo-input {
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    border: none;
    width: 90%; /* 할 일 입력 필드가 남은 너비를 채우도록 설정 */
    font-size: 16px;
    margin-right: 10px; /* 입력 필드와 플러스 버튼 사이 간격 */
}

#add-todo-btn {
    margin-top: 5px;
    background-color: #B3E7E8;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.todo-background hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.todo-item-container {
    background-color: #D7FCF8;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0;
    margin-left: 2px; /* 왼쪽 여백 추가 */
}

.todo-description {
    font-weight: bold;
    color: black;
    margin-right: 2px; /* 오른쪽 여백 추가 */
}

.todo-category {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-right: 2px; /* 오른쪽 여백 추가 */
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1px 0;
}

.todo-item {
    position: relative; 
    display: flex;
    flex-direction: column; 
    padding: 15px;
    background-color: #B3E7E8;
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 완료된 항목을 위한 스타일 */
.todo-item.completed .todo-description {
    background-color: rgba(0, 0, 0, 0.5); 
    position: relative;
}

/* 체크 아이콘 스타일 */
.todo-item.completed::after {
    content: '✔'; 
    position: absolute;
    top: 84px;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 24px;
    color: white; 
    font-weight: bold;
}

.todo-title-date {
    display: flex;
    justify-content: start; 
    align-items: center;
    width: 100%;
    margin-bottom: 10px; 
}

.todo-category, .todo-date {
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.todo-category {
    min-width: 120px;
    max-width: 150px;
    width: 60px;
    text-align: center;
}

.todo-date {
    width: 120px;
    text-align: center;
}

.todo-description {
    background-color: white;
    padding: 20px; 
    border-radius: 10px;
    font-size: 14px;
    width: 100%; 
    margin-top: 10px; 
}

.todo-actions {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    height: auto; 
    flex-direction: row; 
}

.todo-actions button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    color: #5c5c5c;
}

.todo-actions button:hover {
    color: #333;
}

.edit-input {
    width: 100%;
    border: none;
    padding: 10px;
}


/*Category*/

.category-search {
    position: relative; 
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    max-width: 600px; 
    margin-bottom: 20px;
}

.category-search button {
    min-width: 140px;
    max-width: 190px;
    background-color: #5691A8;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.category-search input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    width: 40%;
}

.category-container {
    position: relative;
    display: inline-block;
}

#category-dropdown {
    position: absolute;
    top: 120%; 
    left: 198px; 
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
}

#category-dropdown button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
}

#category-list div {
    padding: 10px;
    cursor: pointer;
    background-color: #82BFF5;
    max-width: 170px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

#category-list div:hover {
    background-color: #82BFF5;
}

.hidden {
    display: none;
}


/*Footer*/
.footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 700px;
    height: 50px;
    padding-top: 20px; 
    align-items: center;
}

.completed-tasks, .pending-tasks {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    margin-right: 10px;
    font-weight: bold;
    color: white;
}

.completed-tasks {
    background-color: #5691A8;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.pending-tasks {
    background-color: #5691A8;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    margin-right: 0;
}

.footer div span {
    display: block;
    font-size: 40px; 
    margin-bottom: 10px;
}

.footer div small {
    display: block;
    font-size: 12px; 
}
